<h1>This is the main page.</h1>
<h1>Dojo Survey</h1>
<form action="dojoForm" method="POST">
    <div>
        <label>Name</label>
        <input type="text" name="Text">
    </div>
    <div>
        <label>Integer</label>
        <input type="number" name="Number"/>
    </div>
    <button>Send it!</button>
</form>
